@import url('https://fonts.googleapis.com2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}
:root{
    --clr: #0ab3ff;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1c2630;
}
form{
    background: #29313c;
    padding: 60px 80px 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
form h2{
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.25em;
    letter-spacing: 0.1em;
    margin-bottom: 50px;
}
.inputBox{
    position: relative;
    width: 300px;
    margin-bottom: 40px;
}
.inputBox input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #999;
    outline: none;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}
.inputBox label{
    position: absolute;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    color: #999;
    text-transform: uppercase;
}
.inputBox label span{
    position: relative;
    display: inline-flex;
    letter-spacing: 0.05em;
    transition: 0.02s ease-in-out;
}
.inputBox input:focus ~ label span,
.inputBox input:valid~ label span
{
    color: var(--clr);
    letter-spacing: 0.15em;
    transform: translateY(-25px);
    
}

.inputBox input:focus,
.inputBox input:valid{
    border-bottom: 2px solid var(--clr);
}
.inputBox input[type="submit"]
{
    background: var(--clr);
    border: none;
    padding: 15px;
    border-radius: 50px;
    color: #1c2630;
    font-weight: 600;
    font-size: 1.15em;
    text-transform: 0.1em;
    cursor: pointer;
    transition: 0.5s;
}
.inputBox input[type="submit"]:hover{
    letter-spacing: 0.35em;
}
form p {
    color: #fff;
    text-transform: uppercase;
}
form p a{
    color: var(--clr);
    font-weight: 500;
    text-decoration: none;
}
